{% extends "inventorymanagement/base.html" %}

{% block content %}
  <h3>About</h3>
    <p>
        The Chemical Borrowing System was developed in the Bode group by Julian Götz.<br>
        We invite all D-CHAB groups to use the system for tracking their own chemicals!<br>
        Please inquire with Julian Götz (jgoetz@ethz.ch) or Jeffrey Bode to have your chemicals added to the system.<br>
    </p>
    <h5>Features</h5>
    <p>
        <ul>
            <li>All Expereact chemicals are available</li>
            <li>Simple check-in/check-out on any device connected to ETHZ networks</li>
            <li>Lookup of status for any bottle, helping you find the bottle you are looking for</li>
            <li>Automatic updates from Expereact (move/delete)</li>
            <li>Insights for superusers: Find out where all those chemicals are before the next inventory scan</li>
        </ul>
    </p>
    <h5>FAQ</h5>
    <p>
        <ul>
            <li>My phone cannot scan the QR code!<br><em>Please use the link provided below the QR code (cbs.ethz.ch/inventory) to access the website.</em></li><br>
            <li>The website does not load!<br><em>Please check if you are connected to an ETH network. You cannot access the system from outside the ETH network.</em></li><br>
        </ul>
    </p>
    <h5>Contributors</h5>
    <p>
        <ul>
            <li>Julian Götz</li>
            <li>Yi-Chung Dzeng</li>
        </ul>
    </p>

{% endblock %}