{% extends "inventorymanagement/base.html" %}

{% block content %}
    <h3>Changelist</h3>
    <table class="table table-borderless table-sm">
        <tbody>
            {% for changelistentry in changelistentry_list %}
            <tr class="d-flex">
                <td>{{ changelistentry.date | date:"Y-m-d" }}</td>
                <td>{{ changelistentry.description | safe }}</td>
            </tr>
        {% empty %}
            <p> No recent changes</p>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}