{% extends "inventorymanagement/base.html" %}

{% block content %}
    <h2> Confirmation </h2>
        <p1> You marked this chemical as empty:</p1>
        <ul>
            <li><strong>Bottle code: </strong>{{ bottle.id }}</li>
            <li><strong>Name: </strong>{{ bottle.description }}</li>
            <li><strong>Owner code: </strong>{{ bottle.code }}</li>
            <li><strong>Owner name: </strong>{{ bottle.owner }}</li>
            <li><strong>Location: </strong>{{ bottle.location }}</li>
        </ul>
        <p1><strong>Please remember to remove the bottle from Expereact!</strong></p1>
        <p><a href="http://hci-expereact.ethz.ch/empty_bottle.html">You can follow this link to Expereact</p>
{% endblock %}
