{% extends "inventorymanagement/base.html" %}

{% block content %}
    <p>Welcome to the Chemical Borrowing System, a website developed by <em>Julian</em>!</p>
    <h3>Actions</h3>
    <ul>
        <li><strong><a href="{% url 'inventorymanagement:borrow' %}">Borrow a bottle</a></strong></li>
        <li><strong><a href="{% url 'inventorymanagement:return' %}">Return a bottle</a></strong></li>
        <li><strong><a href="{% url 'inventorymanagement:status' %}">Check the status of a single bottle</a></strong></li>
        <li><strong><a href="{% url 'inventorymanagement:list' %}">Check the status of all bottles by owner</a></strong></li>
    </ul>
    <br>
    <h5>Recent updates</h5>
    <p>
        2020-12-18 Checking bottles by owner now offers an option to include only checked-out bottles<br>
        2020-11-23 New Feature: List all chemicals you own and see whether they are checked out immediately<br>
        (see <a href="{% url 'inventorymanagement:changelist' %}">full changelist</a> for more)
    </p>
    <br><br><br>
    <p> If you experience errors, please notify <em>Julian</em> (Bode group, F308).</p>
{% endblock %}