{% extends "inventorymanagement/base.html" %}

{% block content %}
    <h3>Chemical bottles for user {{ view.code }}</h3>
    <table class="chemtable">
        <tr>
            <th class="chemtable">ID</th>
            <th class="chemtable">Name</th>
            <th class="chemtable">Owner</th>
            <th class="chemtable">Location</th>
            <th class="chemtable">Checked out?</th>
        </tr>
        {% for bottle in bottle_list %}
            <tr>
                <td class="chemtable"><a href="{% url 'inventorymanagement:detail' bottle.id %}">{{ bottle.id }}</a></td>
                <td class="chemtable">{{ bottle.description }}</td>
                <td class="chemtable">{{ bottle.code }}</td>
                <td class="chemtable">{{ bottle.location }}</td>
                <td class="chemtable">{{ bottle.is_checked_out }}</td>
            </tr>
        {% empty %}
            <p> No bottles registered for this user</p>
        {% endfor %}
    </table>
{% endblock %}

