{% extends "inventorymanagement/base.html" %}

{% block content %}
    <h1>Chemical Borrowing System</h1>

    <p>Checking status of bottle <em>{{ bottle.id }} ({{ bottle.description }})</em>:</p><br>

    {% if bottle.status == "in" %}
        <p>The bottle is currently <strong>checked in</strong>.</p>
        <p>According to Expereact records, the bottle should be located in
            <strong>{{ bottle.location }}</strong>.</p>
        <br>
        <p>Further information:</p>
        <ul>
            <li>Supplier: {{ bottle.supplier }}</li>
            <li>Quantity: {{ bottle.quantity }}</li>
            <li>Owner: {{ bottle.owner }}</li>
        </ul>
    {% elif bottle.status == 'out' %}
        <p>The bottle is currently <strong>checked out</strong>.</p>
        <p>Current borrower information:</p>
        <ul>
            <li>Name: {{ bottle.borrower_full_name }}</li>
            <li>Group: {{ bottle.borrower_group }}</li>
            <li>E-mail: {{ bottle.borrower_email }}</li>
            <li>Due date: {{ bottle.due_back }}</li>
        </ul>
        <p>Bottle information:</p>
        <ul>
            <li>Supplier: {{ bottle.supplier }}</li>
            <li>Quantity: {{ bottle.quantity }}</li>
            <li>Owner: {{ bottle.owner }}</li>
            <li>Location: {{ bottle.location }}</li>
        </ul>
        {% if bottle.is_overdue %}
            <strong>The due date for this bottle has been exceeded by the borrower.</strong>
        {% endif %}
    {% elif bottle.status == 'empty' %}
        <p>The bottle is <strong>empty</strong>.</p>
        <p>The last borrower ({{ bottle.borrower_full_name }}) should remove it from Expereact.</p>
        <p>(It may take up to 24 hours for the change to be reflected in this system)</p>
    {% endif %}
{% endblock %}